<footer role="contentinfo">

  <small>
    <p>Serve is copyright © 2007-2011 John W. Long and Adam I. Williams. Portions have
      been contributed by Robert Evans and others. Serve is distributed under a MIT-style
      license and is open source software. Enjoy!</p>
    <p>Questions? <a href="http://get-serve.com/mailing-list">Join the  mailing list.</a></p>
  </small>

</footer>